<div class="card-container">
  <p-panel>
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <img ngSrc="assets/profile.jpg" class="ch-it-profile" alt="profile picture" height="736" width="736">
        <span class="font-bold">
                Amy Eisner, Yassa
            </span>
      </div>
    </ng-template>

    <div class="panel">
      <div class="central-image">
        <img ngSrc="assets/technology-7105517_640.jpg" alt="Central Image" height="480" width="640">
      </div>
      <div class="left-images">
        <div class="image-wrapper">
          <img ngSrc="assets/technology-7105517_640.jpg" alt="Image" height="480" width="640">
        </div>
        <div class="image-wrapper">
          <img ngSrc="assets/technology-7105517_640.jpg" alt="Image" height="480" width="640">
        </div>
        <div class="image-wrapper">
          <img ngSrc="assets/technology-7105517_640.jpg" alt="Image" height="480" width="640">
        </div>
        <div class="image-wrapper">
          <img ngSrc="assets/technology-7105517_640.jpg" alt="Image" height="480" width="640">
        </div>
        <div class="image-wrapper">
          <img ngSrc="assets/technology-7105517_640.jpg" alt="Image" height="480" width="640">
        </div>
      </div>
    </div>
    <p class="h2">Head set sword 2</p>
    <p class="h2">prix : 30,000 XAF</p>
    <div class="ch-it-info-container">
      <div>Une descriptions de l'article</div>
      <div>
        <button class="ch-it-btn-minus btn btn-outline-danger"><i class="pi pi-minus-circle" style="color: red"></i></button>  <input class="ch-it-input-cart" type="text"> <button class="ch-it-btn-plus btn btn-outline-success"><i class="pi pi-plus-circle" style="color: green"></i></button>
        <button type="button" class="btn btn-outline-primary ch-it-add-cart-btn">Ajouter <i class="pi pi-cart-plus " style="color: slateblue"></i></button>
      </div>
    </div>
    <div>
      <app-item-category-list></app-item-category-list>
    </div>

  </p-panel>

</div>


