<div class="card" style="width: 80%;">
  <div class="card-header">
    Featured
  </div>
  <ul>
    <li>
      <div class="card mb-3 ch-it-inner-container" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 ch-it-cart-item">
            <img src="assets/technology-7105517_640.jpg" class="img-fluid rounded-start ch-it-cart-item-img" alt="item image">
            <div class="col-md-8">
              <div class="card-body">
                <button class="btn ch-it-btn "><i class="pi pi-times" style="font-size: 1.5rem"></i></button>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Quantite : 6 <br>
                  Prix: 100,000 XAF
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="card mb-3 ch-it-inner-container" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 ch-it-cart-item">
            <img src="assets/technology-7105517_640.jpg" class="img-fluid rounded-start ch-it-cart-item-img" alt="item image">
            <div class="col-md-8">
              <div class="card-body">
                <button class="btn ch-it-btn"><i class="pi pi-times" style="font-size: 1.5rem"></i></button>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Quantite : 6 <br>
                  Prix: 100,000 XAF
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <span class="ch-it-price">Total : 200,000 XAF</span>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Faire une offre</button>
    <button type="button" class="btn btn-outline-success">Commander</button>
  </div>
</div>



<div class="card" style="width: 80%;">
  <div class="card-header">
    Featured
  </div>
  <ul>
    <li>
      <div class="card mb-3 ch-it-inner-container" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 ch-it-cart-item">
            <img src="assets/technology-7105517_640.jpg" class="img-fluid rounded-start ch-it-cart-item-img" alt="item image">
            <div class="col-md-8">
              <div class="card-body">
                <button class="btn ch-it-btn"><i class="pi pi-times" style="font-size: 1.5rem"></i></button>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Quantite : 6 <br>
                  Prix: 100,000 XAF
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <span class="ch-it-price">Total : 200,000 XAF</span>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Faire une offre</button>
    <button type="button" class="btn btn-outline-success">Commander</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Faire une offre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label" style="font-weight:bold;">Entrez votre offre</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ex:10,000">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Confirmer</button>
      </div>
    </div>
  </div>
</div>
