<div class="card-container">
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn-close float-end" aria-label="Close"></button>
      <h5 class="card-title">Pre-Commande</h5>
      <p class="card-text">
        Quantite: 6
      </p>
      <p class="card-text">
        Cout Total: 369000 XAF
      </p>
      <p class="card-text">
        Cout de livraison: 903 XAF
      </p>
      <p class="card-text">
        Total : 369903 XAF
      </p>
      <div class="card-footer">
        <button class="btn btn-primary">Confirmer</button>
      </div>
    </div>
  </div>
</div>
