<app-item-category-list></app-item-category-list>
<div class="ch-it-grid-container">
  <div class="card ch-it-grid-item" >
    <img src="assets/technology-7105517_640.jpg" class="card-img-top" alt="item image">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div>
      <img src="assets/profile.jpg" class="ch-it-profile">
      Moralesse
    </div>
  </div>
  <div class="card ch-it-grid-item">
    <img src="assets/technology-7105517_640.jpg" class="card-img-top" alt="item image">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div>
      <img src="assets/profile.jpg" class="ch-it-profile">
      Moralesse
    </div>
  </div>
  <div class="card ch-it-grid-item" >
    <img src="assets/technology-7105517_640.jpg" class="card-img-top" alt="item image">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div>
      <img src="assets/profile.jpg" class="ch-it-profile">
      Moralesse
    </div>
  </div>
  <div class="card ch-it-grid-item" >
    <img src="assets/technology-7105517_640.jpg" class="card-img-top" alt="item image">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div>
      <img src="assets/profile.jpg" class="ch-it-profile">
      Moralesse
    </div>
  </div>
  <div class="card ch-it-grid-item" >
    <img src="assets/technology-7105517_640.jpg" class="card-img-top" alt="item image">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div>
      <img src="assets/profile.jpg" class="ch-it-profile">
      Moralesse
    </div>
  </div>
  <div class="card ch-it-grid-item" >
    <img src="assets/technology-7105517_640.jpg" class="card-img-top" alt="item image">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div>
      <img src="assets/profile.jpg" class="ch-it-profile">
      Moralesse
    </div>
  </div>
</div>
