<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-10">
      <ul class="list-unstyled">
        <li class="mb-4">
          <div class="card rounded shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Commande #20-390-03-1</h5>
              <p class="card-text">
                Date de création: 12/02/2024<br>
                Statut: En attente
              </p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="card rounded shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Commande #20-390-03-1</h5>
              <p class="card-text">
                Date de création: 12/02/2024<br>
                Statut: En attente
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
