<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="assets/profile.jpg" class="rounded-circle mb-3" alt="Profile Picture" height="150" width="150">
            </div>
            <div class="col-md-8">
              <table class="table table-borderless" id="profile-table">
                <tr>
                  <td>Nom</td>
                  <td><input type="text" class="form-control" value="Max" disabled></td>
                </tr>
                <tr>
                  <td>Prenom</td>
                  <td><input type="text" class="form-control" value="Hang" disabled></td>
                </tr>
                <tr>
                  <td>Addresse</td>
                  <td><input type="text" class="form-control" value="Douala, Bonamoussadi" disabled></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><input type="email" class="form-control" value="maxH@email.com" disabled></td>
                </tr>
                <tr>
                  <td>Numero de Tel</td>
                  <td><input type="tel" class="form-control" value="654737283" disabled></td>
                </tr>
              </table>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary mr-2" style="margin-right:20px;">Modifier</button>
                <button class="btn btn-danger">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
