<div class="container-fluid my-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h5 class="card-title">Mes Articles</h5>
            <p class="card-text">12</p>
          </div>
          <i class="pi pi-box"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h5 class="card-title">Mes Commandes</h5>
            <p class="card-text">27</p>
          </div>
          <i class="pi pi-gift"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h5 class="card-title">Mes Livraisons</h5>
            <p class="card-text">19</p>
          </div>
          <i class="pi pi-truck"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h5 class="card-title">Mes Transactions</h5>
            <p class="card-text">$4,560</p>
          </div>
          <i class="pi pi-money-bill"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h5 class="card-title">Mes Offres</h5>
            <p class="card-text">9</p>
          </div>
          <i class="pi pi-tag"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h5 class="card-title">Mes Livreurs</h5>
            <p class="card-text">6</p>
          </div>
          <i class="pi pi-user"></i>
        </div>
      </div>
    </div>
  </div>
</div>
