<div class="form-container">
  <div class="form-wrapper">
    <h2 class="form-title">Pre-Commande</h2>
    <form>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText id="username"  />
          <label for="username">Entrez votre Nom</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText id="usertel"  />
          <label for="usertel">Entrez votre numero de telephone</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText id="userAddress"  />
          <label for="userAddress">Entrez votre adresse</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <button type="submit">Confirmer</button>
      </div>
    </form>
  </div>
</div>
